/* Reset some default browser styles */
body, h1, h2, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}



/* Common styles for both pages */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
}

/* Add styles for collapsible sections and dots */
.collapsible {
    cursor: pointer;
    display: flex;
    align-items: center; /* Center content vertically */
    position: relative; /* Add this for positioning the ::before element */
}

.collapsible::before {
    content: "•"; /* Use a dot or any other character you prefer */
    font-size: 16px; /* Adjust the size of the dot or tick */
    margin-right: 8px; /* Add some space between the dot and the header text */
}

.collapsible-dot {
    width: 10px; /* Adjust the size of the dot */
    height: 10px;
    border-radius: 50%;
    margin-right: 8px; /* Add some space between the dot and the header text */
    background-color: #ccc; /* Color of the dot */
}

.collapsible-content {
    display: none;
}
